<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Node.js-App</title>
</head>
<body>
	<center>
		<div id="nav-bar">
			<a class = "nav-text" href="http://localhost:8080/user">users</a>
            <a class = "nav-text" href="http://localhost:8080/">home</a>
            <a class = "nav-text" href="http://localhost:8080/create_user">sign up</a>>
		</div>
	</center>
	<h1>Node.js-App</h1>
	<p>
		So far this is a static HTML page with some CSS, but in the future I will create some kind of 
		view that outputs data from my MySQL database.
		<br>
		<br>
		<%= message %>
	<p>
</body>
</html>