<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/userForm.css">
	<title>Node.js-App</title>
</head>
<body>
	<center>
		<div id="nav-bar">
			<a class = "nav-text" href="http://localhost:8080/user">users</a>
            <a class = "nav-text" href="http://localhost:8080/">home</a>
            <a class = "nav-text" href="http://localhost:8080/create_user">sign up</a>
		</div>
	</center>
	<h1>Create A User</h1>
    <div class="container">
  <form>
  <h2>Form<small>enter please</small></h2>
  
    <div class="group">      
      <input id="inputEmail" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Name</label>
    </div>
    <div class="group">      
      <input id="inputEmail" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Email</label>
    </div>
    <div class="group">      
      <input id="inputPassword" type="text" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Password</label>
    </div>
    <button class="submitButton" onclick="getInput.js">Submit</button>
    
  </form>
  
</div>
</body>
</html>