html {
	font-family: consolas;
	padding: 1% 15% 5% 15%;
}

h1 {
	font-size: 100px;
	font-weight: bold;
}

p {
  
  margin-right: 25%
}

a{
  font-family: 'Major Mono Display', monospace;
  vertical-align: -50%;
  color: white;
}

ul{
  list-style: none;
}

#nav-bar{
  font-size: 14pt;
  background-color: black;
  height: 50px;
}

.nav-text{
  font-family: 'Major Mono Display', monospace;
  color: white;
}

.userNotation{
  font-family: consolas;
  color: black;
}

input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:600px;
  border:none;
  border-bottom:1px solid #757575;
}

.submitButton{
  margin-left: 50%;
  font-family: consolas;
  width: 200px;
  height: 50px;
}

.submitButton:hover{
  background-color: rgba(255, 255, 255, 0.212);
}