html {
	font-family: consolas;
	padding: 1% 15% 5% 15%;
}

h1 {
	font-size: 100px;
	font-weight: bold;
}

p {
  
  margin-right: 25%
}

a{
  font-family: 'Major Mono Display', monospace;
  vertical-align: -50%;

  color: white;
}

ul{
  list-style: none;
}

#nav-bar{
  font-size: 14pt;
  background-color: black;
  height: 50px;
}